/* main
*************************** */

.Programming__main-wrapper{
   background: url(../../../../assets/bgProgramming.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  @include myFlex();
}

/* selectedProgramming
*************************** */

.selectedProgramming{
   &__main-wrapper{
      height: auto;
      width: 200px;
      margin: 0 auto;
      text-align: center;
   }

   &__buttons-wrapper{
     margin: 0 auto;
     img{
           margin: 30px auto;
       display: block;
     }
   }

   &-line{
      width: 70%;
      height: 1px;
      background-color: $c-brilliantRose;
      border: none;
   }

   &-button{
      background: url(../../../../assets/button_rozpocznij.png) no-repeat center center; 
      background-size: cover;
      width: 380px;
      height: 114px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      span{
         margin: 0 15%;
         color: $c-white;
         text-decoration: none;
      }
   }

   &-button:hover{
      background: url(../../../../assets/buttonHover.png) no-repeat center center;
      background-size: cover;
      width: 380px;
      height: 114px;
      margin: 20px auto;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
   }
 }


/* programmingQuestion
*************************** */
 .programmingQuestion__main-wrapper{
    background: url(../../../../assets/bgProgrammingQuestion.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  @include myFlex();
 }


 /* programming__quiz
*************************** */
.programming__quiz-question{
   height: 100px;
   text-align: center;
}

.programming__quiz-answer { 
      height: auto;
      width: 100%;
      justify-content: space-between;

   button{
      background: url(../../../../assets/buttonAnswer.png) no-repeat scroll center center  ; 
      background-size: contain;
      width: calc(100% / 3 - 10px);
      height: 80px;
      margin: 5px;
      text-decoration: none;
      cursor: pointer;
      border: none;
      color: $c-white;
      }

   button:hover{
      background: url(../../../../assets/buttonAnswerHover.png) no-repeat scroll center center  ; 
      background-size: contain;
      width: calc(100% / 3 - 10px);
      height: 80px;
      margin: 5px;
      text-decoration: none;
      cursor: pointer;
      border: none;
   }

}