/* Sections
*************************** */
.content__main-wrapper{ 
  // border: 1px solid green;
  height: 100vh;
}


/* Left
*************************** */
.left{
    &__main-wrapper{
    height: 100vh;
    // border: 1px solid white;
    }

    &-logo{
        background: url(../../../../assets/Q.png) no-repeat center center ; 
        height: 38px;
        background-size: contain;
        width: 39px;
        margin: 33px;
    }
}


/* Navigation
*************************** */
.navigation{
    &__main-wrapper{
        width: 100%;
        height: 70px;
        position: relative;
        right: 0;
        margin: 10px 0;
    }

    &__inner-wrapper{
        position: absolute;
        right: 0;
        top: 10px;
    }   
}

ul.horizontal-list {
    margin: 0;
    float: right;
}

ul.horizontal-list {
    :nth-child(4){
        background-color: $c-rose;
        @include boxShadow(0 0 20px $c-rose);
    }
    
    li {
        display: inline;
        margin: 2px;
        font-size: 14px;
        cursor: pointer;
        padding: 2px 5px;
        border-radius: 3px;
        background-color: $c-ebony;
    }
}

.link{
    text-decoration: none;
    color: $c-white;
}


/* Header
*************************** */


.header{
    &__content-wrapper{
        position: relative;
    }

    &__icons-wrapper{
        position: relative;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 1;
        &-icons{
            display: flex;
            position: absolute;
            top: 0;
            right: 0; 
            img{
                margin: 0 15px;
            }
        } 
    }
    
    &__logo-wrapper{
        position: relative;
        right: 0;
        top: 0;
        img{
            margin:0 auto;
            display: block;
      }
    }
    
    &__info{
        &-wrapper{
            padding: 55px 0;

            img{
                margin:0 auto;
                display: block;
            }
        }
         &-space{
            width: 22%;
            display: inline-block;
        }

        &-text{
            background: url(../../../../assets/podcień.png) no-repeat center center ;
            text-align: center;
            background-size: cover;
            font-size: 30px;
            width: 65%;
            margin: 0 auto;
            display:block;
            span{
                font-size: 20px;
            }
        }

        &-question{
            background: url(../../../../assets/bgProgrammingQuestionElipsa.png) no-repeat center center ;
            text-align: center;
            background-size: cover;
            font-size: 30px;
            width: 100px;
            height:100px;
            margin: 0 auto;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            span{
                font-size: 20px;
            }
        }

        &-textQuestion{
            background: url(../../../../assets/podcień.png) no-repeat center center ;
            text-align: center;
            background-size: cover;
            font-size: 30px;
            width: 65%;
            margin: 0 auto;
            display:inline-block;
            span{
                font-size: 20px;
            }
        }  
    }
}




.Technology__main-wrapper{
     background: url(../../../../assets/bgTechnologia.png) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     width: 100vw;
     height: 100vh;
     @include myFlex();
}





.pinkTextColor{
  color:$c-brilliantRose;
  text-decoration:none;
}


.choices_wrapper{
    width:200px;
    height: 200px;
    margin:0 auto;
}

.correct{ 
    background-color: green;
}

.incorrect{ 
    background-color: red;
}