/* main
*************************** */

.homePage__main-wrapper{
  background: url(../../../../assets/background_start.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  @include myFlex();
}


/* Category
*************************** */

.category{
    &__main-wrapper{
        height: auto;
        width: 100%;
        justify-content: space-between;
        @include myFlex();
    }
    
    &__buttons-wrapper{
        width: calc(100% / 5 - 4px);
        height: auto;
        margin: 1px;
        display: flex;
        text-decoration: none;
    }
    &-line{
        width: 80%;
        height: 1px;
        background-color: $c-brilliantRose;
        border: none;
    }
    
    &-title{
        margin:10%;
        color: $c-white;
    }
}

.img-possition{
    margin: 15% 50% 8% 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}