@import './variables';
@import './normalize';
@import './fonts.scss';

body{
  border:0;
  margin:0;
  padding:0;
}

html{
  font-size: 16px;
	scroll-behavior: smooth;
	 font-family: 'Montserrat', sans-serif;

}	

body{
	font: normal normal normal 1rem 'Montserrat';
	overflow-x: hidden;
	background-color: $c-valhalla;
	color: $c-white;
}
