// converting px to rem,with default 1rem = 16px 
@function pxToRem ($pxsize, $rembase:16px){
	@return ($pxsize/$rembase) + rem;
}

 @mixin boxShadow($arg){
    -webkit-box-shadow: $arg;
    box-shadow: $arg;
 }  

 @mixin myScale($value){
    transform: scale($value, $value);
    -ms-transform: scale($value, $value);
    -webkit-transform: scale($value, $value);
 }  

  @mixin borderBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
 }  

//prefixes use in 2 functions 
$prefixes: (-webkit-box, -ms-flexbox, -webkit-flex, flex );
    
 @mixin myFlex(){
 	//$prefixes: (-webkit-box, -ms-flexbox, -webkit-flex, flex );
 	@each $prefix in $prefixes{
 		display: $prefix;
 	}
 }	

 @each $size in $sizes{ 
     $index: index($sizes, $size); 
     .col-#{$index}{ 
         width: $size;
     }
 }


