/* =Colors
************************************* */
$c-black: #000000;
$c-valhalla: #2b1845;
$c-ebony: #0e0816;
$c-rose: #ff005a;
$c-brilliantRose :#f849b3;

$c-white: #ffffff;


/* =Fonts
************************************* */

/* =Breaks
************************************* */
$break-xs:400px;
$break-s:480px;
$break-xs-mobile:600px;
$break-s-mobile:685px;
$break-mobile:767px;
$break-s-mid:820px;
$break-mid:991px;
$break-laptop:1060px;
$break-high:1600px;



/* =Paddings, Margins
************************************* */
$space-xx-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-large: 40px;


/* =Lists
************************************* */
$sizes:8.33333333%,16.66666667%,25%,33.33333333%,41.66666667%,50%,58.33333333%,66.66666667%,75%,83.33333333%,91.66666667%,100%;
